[submodule "stdlib.sh"]
	path = stdlib.sh
	url = https://github.com/srcshelton/stdlib.sh.git
[submodule "base"]
	path = base
	url = https://github.com/codeforester/base.git
[submodule "util-linux"]
	path = util-linux
	url = https://github.com/util-linux/util-linux.git
